:root {
    --color0: rgba(255, 255, 255, 0.15);
    --color01: rgba(255, 255, 255, 0.3);
    --color1: #efe9e0;
    --color2: #0f9e99;
    --color2_0: #185c0e;
    --color3: #57181f;
    --color: #fff;
}

body {
    background: url(Me1.jpg);
    background-size: cover;
    margin: 50px;
    display: flex;
}

.todo_maker_body {
    border-radius: 20px;
    padding: 20px;
    background-color: var(--color01);
    box-shadow: 3px 6px 10px var(--color0);
    width: 500px;
    height: 50px;
}

.todo_display_body {
    border-radius: 20px;
    margin-left: 20px;
    background-color: var(--color01);
    box-shadow: 3px 6px 10px var(--color0);
    width: 500px;
    height: fit-content;
}

#todo_input {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 16px;
}

#add_button {
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: var(--color2);
    color: var(--color);
    font-size: 16px;
    padding: 0 15px;
    cursor: pointer;
}

#add_button:hover {
    background-color: var(--color2_0);
}

#todo_display {
    padding: 20px;
}

.task_item {
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    color: black;
}

.delete_button {
    float: right;
    background-color: var(--color3);
    border: none;
    border-radius: 10px;
    color: var(--color);
    cursor: pointer;
    padding: 5px 10px;
}

.backbtn {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 40px;
    border: 0;
    background-color: transparent;
}

@media screen and (width < 700px) {

    body {
        background: url(Me1.jpg);
        background-size: cover;
        display: block;
    }

    .todo_maker_body {
        display: block;
        border-radius: 20px;
        padding: 20px;
        background-color: var(--color01);
        box-shadow: 3px 6px 10px var(--color0);
        width: 300px;
        height: 50px;
    }

    .todo_display_body {
        display: block;
        border-radius: 20px;
        background-color: var(--color01);
        box-shadow: 3px 6px 10px var(--color0);
        width: 300px;
        height: fit-content;
    }

    #todo_input {
        width: 70%;
        height: 30px;
        border-radius: 10px;
        border: none;
        padding: 5px;
        font-size: 16px;
    }

    #add_button {
        height: 42px;
        border-radius: 10px;
        border: none;
        background-color: var(--color2);
        color: var(--color);
        font-size: 16px;
        padding: 0 15px;
        cursor: pointer;
    }

    #add_button:hover {
        background-color: var(--color2_0);
    }

    #todo_display {
        padding: 20px;
    }

    .task_item {
        background-color: white;
        margin: 10px;
        border-radius: 20px;
        height: 20px;
        padding: 10px;
        font-size: 20px;
        color: black;
        overflow: scroll;
    }

    .delete_button {
        float: right;
        background-color: var(--color3);
        border: none;
        border-radius: 10px;
        color: var(--color);
        cursor: pointer;
        padding: 5px 10px;
    }

    .backbtn {
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: 5px;
        border-radius: 40px;
        border: 0;
        background-color: transparent;
    }


}